<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.uplooking.pojo.Person" id="person">
        <property name="age" value="#{age}"/>
        <property name="birth " value="#{birth.suffer}"/>
    </bean>
</beans>